body {
	margin: 0;
	background-color: #754e4e;
	color: #d1a427;
	font-family: 'Lobster', sans-serif;
	font-size: 30px;
}

h1 {
	font-size: 64px;
    font-weight: 400;
    text-align: center;
    letter-spacing: 5px;
    margin-top: 20px;
    margin-bottom: 0px;
}

p {
	font-family: 'Pacifico', cursive;
	font-size: 24px;
	color: #d1a427;
	text-align: center;
    margin-top: 5px;
    margin-bottom: 25px;
    letter-spacing: 2px;
}

.container {
	width: 1100px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

.card {
	width: 150px;
	height: 200px;
	display: inline-block;
	margin: 3px;
	background-image: url("img/emblem.jpg");
	background-size: contain;
	background-repeat: round;
	border: 4px solid #4f0606;
	border-radius: 4px;
	cursor: pointer;
	filter: brightness(70%);
    transition: all .3s ease-in-out;
}

.card:hover {
	border: 4px solid #d1a427;
	filter: brightness(100%);
}

.cardActive
/*acive, revealed card*/
{
    width: 150px;
    height: 200px;
    display: inline-block;
    margin: 3px;
    background-image: url("img/emblem.jpg");
    background-size: contain;
    background-repeat: round;
    border: 4px solid #4f0606;
    border-radius: 4px;
    cursor: default;
    filter: brightness(100%);
    transition: all .3s ease-in-out;
}

#score {
	font-family: 'Pacifico', cursive;
	font-size: 24px;
	color: #d1a427;
	margin-top: 5px;
    letter-spacing: 2px;
}
